# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

serviceAccountKey.json
*.zip
*.tar.gz
zip_deploy.py
deploy_worker.ps1
wpp-worker/dist/
wpp-worker/node_modules/
wpp-worker/.wwebjs_auth/


# Environment variables
.env
.env.production
.env.development
sd-worker/.env
wpp-worker/.env
shadow-bot/.env
